{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Author" content="Jinshad">
    <title>Baabtra</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
   <a href="" target="_blank"><img src="{% static 'images/whatsapp.png' %}" alt="" class="whtp"></a>

    <div class="top-div">
        <img src="{% static 'images/ftiw.PNG' %}" alt=""  class="ftiw">
        <label class="font">Contact Us&nbsp;&nbsp;
            <img src="{% static 'images/phone.png' %}" alt="" id="ph">&nbsp;+91 123 456 789</label>
    </div>

    <div style="width: 500px; height: 100px; float: left; background-color: white; position: fixed;  bottom: 529px; left: 0; top: 48px;"><a href="{% url 'hm' %}"><img src="{% static 'images/Baabtra.PNG' %}" alt="" width="400px" height="80px" style="padding-left: 150px; padding-top: 5px;"></a></div>
    <div style="float: right; height: 100px;background-color: white; position: fixed    ;left: 500px; bottom: 529px; top: 48px; right: 0;">
        <font style="font-family: Verdana, Geneva, Tahoma, sans-serif; position: fixed;">
            <form style="padding-left: 50px; padding-top: 40px;">
                <!-- <select name="prgms" id="">
                    <option value="python">Internship Program</option>
                    <option value="python">Python</option>
                    <option value="python">php</option>
                    <option value="python">java</option>
                    <option value="python">flutter</option>
                    <option value="python">angular</option>
                </select> -->
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Internship Program
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Python</a></li>
                      <li><a class="dropdown-item" href="#">Php</a></li>
                      <li><a class="dropdown-item" href="#">java</a></li>
                      <li><a class="dropdown-item" href="#">Flutter</a></li>
                      <li><a class="dropdown-item" href="#">Angular</a></li>
                    </ul>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp
                <a href="{% url 'pl' %}"><label for="">Placement</label></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{% url 'bg' %}"><label
                        for="">Blog</label></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{% url 'au' %}"><label for="">About Us</label></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label for="">Login</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-success">Enquire Now</button>
                </div>
            </form>
        </font>
    </div>
    <br>
    <br>
    {% block content %}
    <div class="sc-div">
        <br>
            <img src="{% static 'images/oray education.PNG' %}" alt="" width="300px" height="160px" class="oray-img"><br><br>
            <label class="txt-a"><b>We are affiliated with
                    oray education London, UK.</b></label>
        <br>
        <br>
        <center>
            <div class="div-th">
                <br>
                <h3 class   ="gfje">GETTING A SOFTWARE JOB IS SO
                    EASY WITH OUR<br>INTERNSHIP PROGRAM</h3>
                <br>
                <br>
                <label style="font-family: Verdana, Geneva, Tahoma, sans-serif; color: lightskyblue;">
                    Learn programming from the most trusted software training company in Calicut with highest<br>
                    placement
                    record. Enroll for software courses and internship programs in Python,PHP, Angular or flutter<br> to
                    start your career.</label>
                <br>

            </div>
        </center>

    </div>
    <br>
    <br>
    <center>
        <img src="{% static 'images/phptraining.PNG' %}" alt="" width="166px"
            height="210px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <img src="{% static 'images/python training.PNG' %}" alt="" width="166px"
            height="210px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <img src="{% static 'images/jstraining.PNG' %}" alt="" width="166px"
            height="210px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <img src="{% static 'images/Flutter Training.PNG' %}" alt="" width="166px"
            height="210px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <img src="{% static 'images/angulsr training.PNG' %}" alt="" width="166px" height="210px">
    </center>
    <br>
    <br>
    <center>
        <div style="width: 73%; height: 170px;">
            <label
                style="float: left; color: #333; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 30px;"><b>Explore
                    Our internship programme</b></label>
            <br>
            <br>
            <br>

            <label
                style="float: left; color: #232524; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 15px;;">
                baabtra.com offers you courses and training programs that will enable you to master programming in
                depth. Enroll and start learning with the experts in the industry. We offer PHP Training with Laravel
                Framework, Python Training with Django Framework, Angular Training and Node.js Training.</label>

        </div>
        <img src="{% static 'images/How it works.PNG' %}" alt="" width="100%" height="550px">
    </center>
    <br>
    <br>
    <h1 align="left"
        style="font-family: poppins; color: #333; font-family: 'Poppins', sans-serif; padding-left: 100px;">Placed
        Candidates</h1>
    <center>
        <div style="width: 85%; height: 3px;">
            <hr width="150px" height="3px" align="left" color="darkyellow">
        </div>
    </center>
    <br>
    <br>
    <br>
    <center>
        <img src="{% static 'images/Placed Candidtaes.PNG' %}" alt="" width="80%">
        <br>
        <br>
        <br>
        <button>See More</button>
    </center>
    <br>
    <br>
    <br>
 



{% endblock %}

</body>

</html>
