{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/password.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'js/password.js' %}" defer></script>

    <title>Document</title>

</head>

<body>
    <!--   
    <h1>Password Check</h1>
    <br><br>
    <form action="">
        <input type="password" name="" id="password">
        <input type="checkbox" id="check" onclick="showpass()"><span>Show passsword</span>
    </form>
    <br><br>
    <div class="tb">

    </div>


    <input type="password" id="strong"><button type="button" onclick="checkp()">Check</button>
    <br><br>
    <span id="error"></span>
    <br><br>
    <center>
        <form action="">
            <label for="Enter Item to Delete"></label>
            <input type="text" id="item">
            <br><br>
            <button type="button" onclick="deleteRow()">delete</button>
        </form>

        <table border="2" id="table">
            <tr>
                <th>
                    Heading
                </th>
            </tr>
        </table>
        <br><br>
        <input type="text" id="adde">
        <button type="button" onclick="addRow(),add()">Add</button>

    </center>
    <button type="button" onclick="getid()">GET id</button>
    <br><br><br><br><br>
<center>
    <form>

        <input type="text" id="box">

        <button type="button" onclick="guardarNumeros(),taskaddd()">Add</button>
        

        
    </form>

    <table border="2" id="table2">
        <tr>
            <th colspan="2">
                Task
            </th>
        </tr>
    </table>
    <br><br>
</center>


<button type="button" id="hideshow">Hide/Show</button>
<p id="para">Hello World</p><br>

<div style="width: 50%; height: 300px; background-color: aqua;" id="testdiv">



</div> -->


    <!-- <select name="" id="sel">
    <option value="ac">Aadhar card</option>
    <option value="pc">Pan Card</option>
    <option value="dl">Driving License</option>
    <option value="pp">Passport</option>

</select>
<input type="text" name="" id="imp" placeholder="Enetr aadhar no" style="display: none;">
<input type="text" name="" id="imp2" placeholder="enter pan card" style="display: none;">
<input type="text" name="" id="imp3" placeholder="enter dl" style="display: none;">
<input type="text" name="" id="imp4" placeholder="enter passport" style="display: none;"> -->
    <!-- <br><br>
    
    <br><br>
    <p id="para" style="position: absolute;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum, quod.
    </p>
    <br><br>
    <ul>
        <li>a</li>
        <li>b</li>
        <li>c</li>
        <li>d</li>
    </ul> -->
    <h5>spidermns</h5>
    <button type="button" id="tstbtn">Click</button>




    <div style="width: 300px; height: 300px; border: 2px solid red; background-color: aqua; padding: 10px; ">
        <h1>hello hi</h1>
        <p>hdiujb</p>
    </div>


    <span>This is Earth</span>





</body>

</html>