<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add Products</h1>
    <br><br>
    <form method="post">
        {% csrf_token %}
        <label for="">Product Name:</label><input type="text" name="name"><br><br>
        <label for="">Product description:</label><input type="text" name="description"><br><br>
        <label for="">Product price:</label><input type="number" name="price"><br><br>
        <label for="">Product quantity:</label><input type="number" name="quantity"><br><br>
        <label for="">Product category:</label><input type="text" name="category"><br><br>
        <button type="submit">Add Product</button>
    
    </form>
    
</body>
</html>