<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1><u>Products</u></h1>
        <br><br><br>
        <table border="2" cellpadding="10">
            <tr>
                <th>Product ID</th>
                <th>Product Name</th>
                <th>Product Description</th>
                <th>Product price</th>
                <th>Product Quantity</th>
                <th>Product category</th>
                <th>User Entered</th>
                <th colspan="2">Operations</th>
            </tr>
            {% for i in data %}
            <tr>
                <td>{{i.id}}</td>
                <td>{{i.name}}</td>
                <td>{{i.description}}</td>
                <td>{{i.price}}</td>
                <td>{{i.quantity}}</td>
                <td>{{i.product_category}}</td>
                <td>{{i.user_id}}</td>
                <td><a href="update_products/{{i.id}}"><button type="button">Update</button></a></td>
                <td><button type="button">Delete</button></td>
            </tr>
            {% endfor %}

        </table>
    </center>
    
</body>
</html>