{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/test3.css' %}">

</head>

<body>
    <h1>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto ea officia aut, reiciendis dolorem dolor
        similique natus iure ducimus delectus?</h1>
    <h1 class="align-center">This is Test 3</h1>
    <div class="aa"> </div>
    <h1 class="ab">This is heading</h1>
    <h1>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut quisquam ullam adipisci quidem. Fugiat laboriosam
        iure veniam blanditiis voluptatibus perferendis tempora quisquam, quis maiores modi similique quidem dolores
        quas eius praesentium deserunt doloribus, itaque nisi? Accusantium veritatis et esse deserunt ratione
    </h1>

    <div class="testdiv">
        <label for="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae molestias accusantium similique
            omnis commodi officia accusamus veniam libero enim, quam excepturi sint dolor iste culpa repudiandae ad
            eveniet consequatur ipsam nulla eligendi qui nisi quibusdam aliquam. Tenetur, fugiat recusandae. Magni
            distinctio sequi deserunt eos ipsam rem deleniti fugiat eligendi doloribus?Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Eveniet repellendus sed, eius et veritatis nalorem100
            tus, at facilis architecto odit iste vitae non voluptates culpa doloribus ratione hic in tempora rem numquam
            dicta! Voluptates, similique cum quas libero sequi asperiores sapiente id doloremque odio vel quae, aut
            cupiditate provident culpa nostrum sit, est labore! Nemo in id, ex iusto natus possimus qui ipsa velit
            aperiam. Earum, porro! Similique perspiciatis dolores reprehenderit unde eius illo rem odit, laborum
            accusamus blanditiis consequuntur iusto culpa dicta expedita doloribus tempora quia iste, quis aperiam
            laudantium placeat! Enim saepe inventore error maxime qui tempora aliquam ipsa?Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Quidem perspiciatis deleniti esse autem explicabo dicta, sequi molestias nulla
            natus ex consequuntur illo perferendis repudiandae blanditiis exercitationem. Labore nam dicta nemo
            sapiente. Corporis sequi iste numquam dolor quod adipisci tempore at impedit inventore facilis, magnam
            labore maxime dolorem mollitia aliquid aperiam explicabo totam vitae delectus quis eos beatae. Vero et vitae
            fugiat exercitationem error doloremque perspiciatis adipisci tempore distinctio, quam voluptas rem ea
            aliquam quibusdam quasi eveniet amet repellat optio voluptatum incidunt debitis dolorum mollitia odio
            voluptate. Consequuntur error facere libero at molestiae. Dignissimos quis pariatur ipsa saepe! Numquam,
            minus. Hic! </label>
    </div>

</body>

</html>