<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Update Products</h1>
    <br><br><br><br>
    <form method="post" action="update">
        {% csrf_token %}
        <label for="">Product Name:</label><input type="text" name="name" value={{data.name}}>
        <input type="hidden" value="{{data.id}}" name="pid"><br><br>
        <label for="">Product description:</label><input type="text" name="description" value={{data.description}}><br><br>
        <label for="">Product price:</label><input type="number" name="price" value={{data.price}}><br><br>
        <label for="">Product quantity:</label><input type="number" name="quantity" value={{data.quantity}}><br><br>
        <label for="">Product category:</label><input type="text" name="category" value={{data.product_category}}><br><br>
        <button type="submit">Update Products</button>
    
    </form>
    

</body>
</html>